
@{
    ViewData["Title"] = "Book_Info";
}


<div id="div_CI_BookInfo">
    <header class="row m-0 fixed-header" style="position: sticky;">
        <div class="left">
            <!--                <a href="javascript:void(0)" class="menu-left"><i class="fas fa-arrow-left"></i></a>-->
            <a onclick="$('#div_CI_BookInfo').hide(); $('#div_CI_Identify').show();  " class=""><i class="fas fa-arrow-left"></i></a>
        </div>
        <div class="col center">
            <a href="#" class="logo">
                <figure><i class="fas fa-utensils"></i></figure>
                ROOM 002 <span class="pl-3"> </span>
            </a>
        </div>

    </header>


    <div class="content-sticky-footer  " style="padding-bottom:90px;">

        <div class="card-body pt-0   pb-2">

            <div class="card-body p-0">

                <div class="row border-bottom text-center">
                    <div class="col-6 " style="        border-right: 1px solid; border-bottom: none;">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 text-right d-none d-xl-block "><h1 class="header-more-h1">19</h1></div>
                            <!-- xs -->
                            <div class="col-sm-12 col-md-6 text-center d-block d-sm-none"><h1>19</h1></div>

                            <!-- md -->
                            <div class="col-sm-12 col-md-6 text-right d-none d-md-block d-lg-none"><h1>19</h1></div>

                            <!-- lg -->
                            <div class="col-sm-12 col-md-6 text-right d-none d-lg-block d-xl-none"><h1>19</h1></div>


                            <div class="col-sm-12 col-md-6  text-left pt-2">
                                <i class="fas fa-cloud-moon fa-2x   d-none d-xl-block"></i>
                                <h5 class=" d-none d-xl-block">night</h5>
                                <!-- xs -->
                                <i class=" fas fa-cloud-moon fa-2x   d-block d-sm-none text-center "></i>
                                <h6 class=" d-block d-sm-none text-center">night</h6>
                                <!-- md -->
                                <i class="fas fa-cloud-moon fa-2x  d-none d-md-block d-lg-none"></i>
                                <h5 class="  d-none d-md-block d-lg-none ">night</h5>
                                <!-- lg -->
                                <i class="fas fa-cloud-moon fa-2x   d-none d-lg-block d-xl-none"></i>
                                <h5 class="  d-none d-lg-block d-xl-none ">night</h5>





                            </div>
                        </div>
                    </div>

                    <div class="col-6" style="  border-bottom:none">
                        <div class="row">

                            <div class="col-sm-12 col-md-6 text-right d-none d-xl-block "><h1 class="header-more-h1">2</h1></div>

                            <!-- xs -->
                            <div class="col-sm-12 col-md-6 text-center d-block d-sm-none"><h1>2</h1></div>

                            <!-- md -->
                            <div class="col-sm-12 col-md-6 text-right  	d-none d-md-block d-lg-none"><h1>2</h1></div>

                            <!-- lg -->
                            <div class="col-sm-12 col-md-6 text-right  d-none d-lg-block d-xl-none"><h1 class=" header-more-h1">2</h1></div>



                            <div class="col-sm-12 col-md-6  text-left pt-2">
                                <i class="fas fa-user fa-2x   	d-none d-xl-block"></i>
                                <h5 class=" d-none d-xl-block ">adults</h5>
                                <!-- xs -->
                                <i class=" fas fa-user fa-2x   d-block d-sm-none text-center "></i>
                                <h6 class="  d-block d-sm-none text-center">adults</h6>
                                <!-- md -->
                                <i class="fas fa-user fa-2x  d-none d-md-block d-lg-none"></i>
                                <h5 class="  d-none d-md-block d-lg-none ">adults</h5>
                                <!-- lg -->
                                <i class="fas fa-user fa-2x  d-none d-lg-block d-xl-none"></i>
                                <h5 class=" d-none d-lg-block d-xl-none ">adults</h5>




                            </div>
                        </div>
                    </div>
                </div>



                <div id="Card_bookInfo" class="col-12 mb-4 mt-4">
                    <div class="row px-2">


                        @for (int i = 0; i < 3; i++)
                        {
                            <div class="col-md-4 col-lg-4 col-sm-6 p-2 ">
                                <div class="card mb-3 " onclick="$('#Des_BookInfo').show(); $('#Card_bookInfo').hide();   $('#next_bookinfo').hide(); ">
                                    <div class="card-body  p-0 px-3 pt-3">
                                        <div class="ribbon ribbon-top-right d-none"><span>1</span></div>
                                        <table class="w-100">
                                            <tbody>
                                                <tr>
                                                    <td class="text-center"><img class="avatar w-100" src="~/images/user3.png" alt=""></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="d-menu">
                                                            <h5>Hathairat in-ngam </h5>
                                                            <h6>Guest</h6>
                                                        </div>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="card-footer">
                                        <button class="btn btn-outline-light rounded mb-2" onclick="$('#Des_BookInfo').show(); $('#Card_bookinfo').hide(); $('#next_bookinfo').hide();">  More info  </button>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>



                <!-- card more info -->

                <div class="content-sticky-footer  " id="Des_BookInfo" style=" display: none; ">
                    <div class="row mx-0 position-relative   mb-4">

                        <div class="col">
                            <a href="#" class="media">
                                <div class="w-auto h-100">
                                    <figure class="avatar avatar-120"><img src="~/images/user1.png" alt=""> </figure>
                                </div>
                                <div class="media-body align-self-center ">
                                    <h5><label><span>Mr.</span></label> <label><span>Sirarat </span></label>  <label><span>Imura </span></label>    </h5>
                                    <p>
                                        14 / 08 /2018 <span class="status-online bg-color-success"></span>
                                        <br> Markyuyu@gmail.com
                                        <br> 080-123-4567
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row mx-2  mt-3">
                        <div class="col-4"></div>
       

                        <div class="col-4">
                            <a href="javascript:void(0)" class="btn btn-outline-light rounded mb-2" data-toggle="modal" data-target="#hireme">Edit <i class="fas fa-pen"></i></a>

                        </div>

                        <div class="col-4  ">
                            <a onclick="$('#Des_BookInfo').hide(); $('#Card_bookInfo').show();   $('#next_bookinfo').show(); " class="btn btn-outline-light rounded mb-2" data-toggle="modal" data-target="#hireme">Back </a>

                        </div>
                    </div>


                    <div class="row mx-0 mt-2">
                        <div class="col-6">
                            <div> <h5><span class="text-uppercase">id/passpoart</span></h5> </div>
                            <div> <h6><span class="text-uppercase">000-000-1234-000</span></h6> </div>

                            <div> <h6><span class="text-uppercase">place of issue</span></h6> </div>
                            <div> <h6><span class="text-uppercase">issue : 20/20/2020</span></h6> </div>
                            <div> <h6><span class="text-uppercase">expire : 20/20/2020</span></h6> </div>

                        </div>

                        <div class="col-6">
                            <div> <h5><span class="text-uppercase">immigragtion</span></h5> </div>
                            <div> <h6><span class="text-uppercase">000-000-1234-000</span></h6> </div>

                            <div> <h6><span class="text-uppercase"> place of issue</span></h6> </div>
                            <div> <h6><span class="text-uppercase">issue : 20/20/2020</span></h6> </div>
                            <div> <h6><span class="text-uppercase">expire : 20/20/2020</span></h6> </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>


        <div class="row justify-content-center mt-2">
         
            <button type="button" id="next_bookinfo" onclick="$('#Page_CI_Payment').show(); $('#div_CI_Payment').show();  $('#div_CI_BookInfo').hide(); " class="mb-2 btn btn-success">next <i class="fas fa-arrow-right"></i></button>


        </div>

    </div>

</div>




<div id="Page_CI_Payment" style=" display: none; ">


    <partial name="CheckIn/CI_Payment" model="Model" />

</div>

