
#form-id {
	width: 100%;
	margin: 50px auto;
	text-align: center;
	position: relative;
}

	#form-id fieldset {
		background: #fff;
		border: 0 none;
		border-radius: 3px;
		box-shadow: 0 0 10px 1px rgba(0,0,0,0.4);
		box-sizing: border-box;
		padding: 20px 30px;
		width: 80%;
		margin: 0 10%;
		position: relative;
	}

		#form-id fieldset:not(:first-of-type) {
			display: none;
		}

	#form-id input {
		border: 1px solid #ccc;
		border-radius: 3px;
		padding: 15px;
		color: #2C3E50;
		font-family: 'Montserrat', sans-serif;
		margin-bottom: 10px;
		box-sizing: border-box;
		width: 100%;
	}

	#form-id .custom-button {
		width: 100px;
		background: #27AE60;
		font-weight: bold;
		color: #fff;
		border: 0;
		pointer: cursor;
		padding: 10px;
		margin: 10px;
	}

		#form-id .custom-button:hover {
			box-shadow: 0 0 0 2px #fff, 0 0 0 4px #27AE60;
		}

.title {
	margin-bottom: 10px;
	color: #2C3E50;
	text-transform: uppercase;
}

.sub-title {
	margin-bottom: 20px;
	font-weight: normal;
	color: #666;
}
/*Progressbar*/
.progress-step {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}

	.progress-step li {
		list-style-type: none;
		color: white;
		text-transform: uppercase;
		font-size: 25px;
		width: 33.33%;
		float: left;
		position: relative;
	}

		.progress-step li:before {
			content: counter(step);
			counter-increment: step;
			width: 57px;
			line-height: 43px;
			display: block;
			font-size: 27px;
			color: #333;
			background: white;
			border-radius: 3px;
			margin: 0 auto 5px auto;
		}
		/*progressbar connectors*/
		.progress-step li:after {
			content: '';
			width: 93%;
			height: 3px;
			/* background: #fff; */
			position: absolute;
			left: -45%;
			top: 20px;
			z: 0;
			z-index: 0; /*put it behind the numbers*/
		}

		.progress-step li:first-child:after {
			/*connector not needed before the first step*/
			content: none;
		}
		/*marking active/completed steps green*/
		/*The number of the step and the connector before it = green*/
		.progress-step li.active:before, .progress-step li.active:after {
			background: #27AE60;
			color: white;
		}
