
@{
    ViewData["Title"] = "CO_Folio";
}

<div class="content-sticky-footer pt-0 px-3">

    <div class="container mt-2 h-100 d-flex justify-content-center">

        <div class="col-sm-2 col-md-2  p-0">


            <a href="javascript:void(0)" onclick="window.history.back();"><i class="fas fa-long-arrow-alt-left fa-2x text-white"></i></a>


        </div>



        <div class="col-sm-11 col-md-8 p-0">
            <div class="my-auto text-center">
                <h3 class="text-uppercase sp-3 text-white  d-none d-xl-block">check-out</h3>
                <!-- xs -->
                <p class="text-uppercase sp-3 text-white d-block d-sm-none m-0" style="font-size:14px;">check-out</p>
                <!-- md -->
                <h3 class="text-uppercase sp-3 text-white d-none d-md-block d-lg-none">check-out</h3>
                <!-- lg -->
                <h3 class="text-uppercase sp-3 text-white d-none d-lg-block d-xl-none">check-out</h3>

            </div>
        </div>

        <div class="col-md-2  d-none d-sm-block"></div>


    </div>

    <div class="card bg-light container h-100 d-flex justify-content-center text-uppercase">

        <div class="card-body p-1 pb-2">

            <div class="card bg-dark mt-2">

                <div class="card-body">

                    <div class="row justify-content-center">
                        <div class="col-4 text-center">
                            <figure class="circular avatar avatar-50">
                                <img src="~/images/user3.png" />
                            </figure><br>
                            <i class="far fa-check-circle text-success"></i>
                        </div>

                        <div class="col-4 text-center border-right border-left">
                            <figure class="circular avatar avatar-50">
                                <img src="~/images/user3.png" />
                            </figure>
                            <br>
                            <i class="far fa-check-circle text-secondary"></i>
                        </div>

                        <div class="col-4 text-center">
                            <figure class="circular avatar avatar-50">
                                <img src="~/images/user3.png" />
                            </figure>
                            <br>
                            <i class="far fa-check-circle text-secondary"></i>
                        </div>
                    </div>

                    <div class="row p-3">

                        <!-- xs -->
                        <p class="text-white sp-2 text-uppercase font-weight-bold d-block d-sm-none">1/3 | mr. BlinkMac SystemFont</p>
                        <!-- md -->
                        <h5 class="text-white sp-2 text-uppercase font-weight-bold d-none d-md-block d-lg-none">1/3 | mr. BlinkMac SystemFont</h5>
                        <!-- lg -->
                        <h5 class="text-white sp-2 text-uppercase font-weight-bold d-none d-lg-block d-xl-none">1/3 | mr. BlinkMac SystemFont</h5>
                        <!-- xl -->
                        <h5 class="text-white sp-2 text-uppercase font-weight-bold d-none d-xl-block">1/3 | mr. BlinkMac SystemFont</h5>


                        <!-- xs -->
                        <p class="text-info sp-1 text-uppercase d-block d-sm-none ">
                            <span>sdv</span><span class="border-right border-left mx-2 px-2">room no.2501</span><span>arrve 25 07 2019</span><span class="border-left mx-2 px-2">depart 25 07 2019</span>
                        </p>

                        <!-- md -->

                        <h5 class="text-info sp-1 text-uppercase d-none d-md-block d-lg-none">
                            <span>sdv</span><span class="border-right border-left mx-2 px-2">room no.2501</span><span>arrve 25 07 2019</span><span class="border-left mx-2 px-2">depart 25 07 2019</span>
                        </h5>

                        <!-- lg -->
                        <h5 class="text-info sp-1 text-uppercase d-none d-lg-block d-xl-none">
                            <span>sdv</span><span class="border-right border-left mx-2 px-2">room no.2501</span><span>arrve 25 07 2019</span><span class="border-left mx-2 px-2">depart 25 07 2019</span>
                        </h5>

                        <!-- xl -->
                        <h5 class="text-info sp-1 text-uppercase d-none d-xl-block">
                            <span>sdv</span><span class="border-right border-left mx-2 px-2 ">room no.2501</span><span>arrve 25 07 2019</span><span class="border-left mx-2 px-2">depart 25 07 2019</span>
                        </h5>


 
 


 
                    </div>

                    <hr class="border-white m-0">

                    <div class="tile" id="tile-1">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs nav-justified" role="tablist">

                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#folio1" role="tab"
                                   aria-controls="folio1"
                                   aria-selected="true">folio 1</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#folio2" role="tab"
                                   aria-controls="folio2"
                                   aria-selected="false">folio 2</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#folio3" role="tab"
                                   aria-controls="folio3"
                                   aria-selected="false">folio 3</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="setting-tab" data-toggle="tab" href="#folio4" role="tab"
                                   aria-controls="folio4"
                                   aria-selected="false">folio 4</a>
                            </li>
                        </ul>

                        <div class="tab-content border-white border mt-3">
                            <div class="tab-pane py-0 fade show active" id="folio1" role="tabpanel" aria-labelledby="folio1-tab">
                                <div class="row bg-black mb-2">
                                    <div class="col-3"><div class="p-2 text-white font-weight-bold"><span>folio 1</span></div></div>

                                    <div class="col-6 text-center">
                                        <div class="p-2 text-white font-weight-bold"><span>outstanding amount</span></div>
                                    </div>

                                    <div class="col-3 text-right">
                                        <div class="p-2 text-white font-weight-bold">
                                            <span class="font-100 badge badge-info ">-40,000.00</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="pr-2" style="max-height: 400px;overflow-y: auto;">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-dark">
                                            <thead class="bg-black text-white text-uppercase">
                                                <tr>
                                                    <th>date</th>
                                                    <th>dode</th>
                                                    <th>reference#</th>
                                                    <th>description</th>
                                                    <th>amount</th>
                                                </tr>
                                            </thead>
                                            <tbody class="text-white">

                                                <tr>
                                                    <td>22/10/2019</td>
                                                    <td>990</td>
                                                    <td>193</td>
                                                    <td>cash or advance payment</td>
                                                    <td>deluxe</td>
                                                </tr>
                                                <tr>
                                                    <td>22/10/2019</td>
                                                    <td>990</td>
                                                    <td>193</td>
                                                    <td>cash or advance payment</td>
                                                    <td>deluxe</td>
                                                </tr>
                                                <tr>
                                                    <td>22/10/2019</td>
                                                    <td>990</td>
                                                    <td>193</td>
                                                    <td>cash or advance payment</td>
                                                    <td>deluxe</td>
                                                </tr>
                                                <tr>
                                                    <td>22/10/2019</td>
                                                    <td>990</td>
                                                    <td>193</td>
                                                    <td>cash or advance payment</td>
                                                    <td>deluxe</td>
                                                </tr>
                                                <tr>
                                                    <td>22/10/2019</td>
                                                    <td>990</td>
                                                    <td>193</td>
                                                    <td>cash or advance payment</td>
                                                    <td>deluxe</td>
                                                </tr>
                                                <tr>
                                                    <td>22/10/2019</td>
                                                    <td>990</td>
                                                    <td>193</td>
                                                    <td>cash or advance payment</td>
                                                    <td>deluxe</td>
                                                </tr>
                                                <tr>
                                                    <td>22/10/2019</td>
                                                    <td>990</td>
                                                    <td>193</td>
                                                    <td>cash or advance payment</td>
                                                    <td>deluxe</td>
                                                </tr>
                                                <tr>
                                                    <td>22/10/2019</td>
                                                    <td>990</td>
                                                    <td>193</td>
                                                    <td>cash or advance payment</td>
                                                    <td>deluxe</td>
                                                </tr>
                                                <tr>
                                                    <td>22/10/2019</td>
                                                    <td>990</td>
                                                    <td>193</td>
                                                    <td>cash or advance payment</td>
                                                    <td>deluxe</td>
                                                </tr>
                                                <tr>
                                                    <td>22/10/2019</td>
                                                    <td>990</td>
                                                    <td>193</td>
                                                    <td>cash or advance payment</td>
                                                    <td>deluxe</td>
                                                </tr>
                                                <tr>
                                                    <td>22/10/2019</td>
                                                    <td>990</td>
                                                    <td>193</td>
                                                    <td>cash or advance payment</td>
                                                    <td>deluxe</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>

                            <div class="tab-pane py-0 fade" id="folio2" role="tabpanel" aria-labelledby="folio2-tab">
                                <div class="row bg-black mb-2">
                                    <div class="col-3"><div class="p-2 text-white font-weight-bold"><span>folio 2</span></div></div>

                                    <div class="col-6 text-center">
                                        <div class="p-2 text-white font-weight-bold"><span>outstanding amount</span></div>
                                    </div>

                                    <div class="col-3 text-right">
                                        <div class="p-2 text-white font-weight-bold">
                                            <span class="font-100 badge badge-info ">-30,000.00</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="pr-2" style="max-height: 400px;overflow-y: auto;">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-dark">
                                            <thead class="bg-black text-white text-uppercase">
                                                <tr>
                                                    <th>date</th>
                                                    <th>dode</th>
                                                    <th>reference#</th>
                                                    <th>description</th>
                                                    <th>amount</th>
                                                </tr>
                                            </thead>
                                            <tbody class="text-white">


                                                <tr>
                                                    <td>22/10/2019</td>
                                                    <td>990</td>
                                                    <td>193</td>
                                                    <td>cash or advance payment</td>
                                                    <td>deluxe</td>
                                                </tr>



                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>

                            <div class="tab-pane py-0 fade" id="folio3" role="tabpanel" aria-labelledby="folio3-tab">
                                <div class="row bg-black mb-2">
                                    <div class="col-3"><div class="p-2 text-white font-weight-bold"><span>folio 3</span></div></div>

                                    <div class="col-6 text-center">
                                        <div class="p-2 text-white font-weight-bold"><span>outstanding amount</span></div>
                                    </div>

                                    <div class="col-3 text-right">
                                        <div class="p-2 text-white font-weight-bold">
                                            <span class="font-100 badge badge-info ">-40,000.00</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="pr-2" style="max-height: 400px;overflow-y: auto;">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-dark">
                                            <thead class="bg-black text-white text-uppercase">
                                                <tr>
                                                    <th>date</th>
                                                    <th>dode</th>
                                                    <th>reference#</th>
                                                    <th>description</th>
                                                    <th>amount</th>
                                                </tr>
                                            </thead>
                                            <tbody class="text-white">


                                                <tr>
                                                    <td>22/10/2019</td>
                                                    <td>990</td>
                                                    <td>193</td>
                                                    <td>cash or advance payment</td>
                                                    <td>deluxe</td>
                                                </tr>



                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>

                            <div class="tab-pane py-0 fade" id="folio4" role="tabpanel" aria-labelledby="folio4-tab">
                                <div class="row bg-black mb-2">
                                    <div class="col-3"><div class="p-2 text-white font-weight-bold"><span>folio 4</span></div></div>

                                    <div class="col-6 text-center">
                                        <div class="p-2 text-white font-weight-bold"><span>outstanding amount</span></div>
                                    </div>

                                    <div class="col-3 text-right">
                                        <div class="p-2 text-white font-weight-bold">
                                            <span class="font-100 badge badge-info ">-40,000.00</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="pr-2" style="max-height: 400px;overflow-y: auto;">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-dark">
                                            <thead class="bg-black text-white text-uppercase">
                                                <tr>
                                                    <th>date</th>
                                                    <th>dode</th>
                                                    <th>reference#</th>
                                                    <th>description</th>
                                                    <th>amount</th>
                                                </tr>
                                            </thead>
                                            <tbody class="text-white">


                                                <tr>
                                                    <td>22/10/2019</td>
                                                    <td>990</td>
                                                    <td>193</td>
                                                    <td>cash or advance payment</td>
                                                    <td>deluxe</td>
                                                </tr>



                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>

                            <div class="px-3">
                                <div class="row bg-black mt-2">

                                    <div class="col-9 text-right">
                                        <div class="p-2 text-white font-weight-bold"><span class="sp-2"> Total Amount</span></div>
                                    </div>

                                    <div class="col-3 text-right">
                                        <div class="p-2 text-white font-weight-bold">
                                            <span class="font-100 badge badge-success ">40,000.00</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>



                    <div class="row justify-content-center mt-4">
                        <a  asp-controller="CheckOut" asp-action="CO_NewPosting">
                            <button type="button" class="mb-2 mx-5 btn btn-info sp-2">new Posting <i class="fas fa-plus"></i></button>
                        </a>

                        <a asp-controller="CheckOut" asp-action="CO_Transfer">
                            <button type="button" class="mb-2 mx-5 btn btn-success sp-2">Transfer <i class="fas fa-exchange-alt"></i></button>
                        </a>
                    </div>


                </div>

            </div>

            <div class="row justify-content-center mt-4">
                <a  asp-controller="CheckOut" asp-action="CO_Payment">
                    <button type="button" class="mb-2 btn btn-primary">payment <i class="fas fa-arrow-right"></i></button>
                </a>
            </div>
        </div>
    </div>
</div>
