
@{
    ViewData["Title"] = "CO_Identify";
}

<div class="content-sticky-footer  pt-0 px-3">

    <div class="container mt-3 h-100 d-flex justify-content-center">
        <div class="my-auto text-center">
            <div class="text-center">
                <span class="dot2"><i class="fas fa-suitcase-rolling gd-icon"></i></span>
            </div>

            <!-- xs -->

            <h4 class="text-uppercase sp-4 my-2 text-white d-block d-sm-none ">check-out</h4>
            <!-- md -->

            <h1 class="text-uppercase sp-4 my-2 text-white d-none d-md-block d-lg-none">check-out</h1>
            <!-- lg -->

            <h1 class="text-uppercase sp-4 my-2 text-white d-none d-lg-block d-xl-none">check-out</h1>
            <!-- xl -->

            <h1 class="text-uppercase sp-4 my-2 text-white d-none d-xl-block">check-out</h1>

            <!-- xs -->
            <h6 class="text-uppercase my-2 sp-3 text-white d-block d-sm-none ">please identify your booking by</h6>
            <!-- md -->
            <h4 class="text-uppercase my-2 sp-3 text-white d-none d-md-block d-lg-none">please identify your booking by</h4>
            <!-- lg -->
            <h4 class="text-uppercase my-2 sp-3 text-white d-none d-lg-block d-xl-none">please identify your booking by</h4>
            <!-- xl -->
            <h4 class="text-uppercase my-2 sp-3 text-white d-none d-xl-block">please identify your booking by</h4>
        </div>

    </div>

    <div class="card bg-dark border container mt-3 h-100 d-flex justify-content-center text-center text-uppercase">

        <div class="card-body">
            <!-- xs -->
            <h6 class="sp-3 text-white d-block d-sm-none ">booking reference number</h6>
            <!-- md -->
            <h5 class="sp-3 text-white d-none d-md-block d-lg-none">booking reference number</h5>
            <!-- lg -->
            <h5 class="sp-3 text-white d-none d-lg-block d-xl-none">booking reference number</h5>
            <!-- xl -->
            <h5 class="sp-3 text-white  d-none d-xl-block">booking reference number</h5>






            <input type="text" class="form-control-n-bg w-50" id="validationServer02" placeholder="booking reference number" value="1022-1211" required="">
        </div>

    </div>

    <div class="container mt-3 h-100 d-flex justify-content-center text-center text-uppercase text-white">or</div>

    <div class="card bg-dark border container mt-3 h-100 d-flex justify-content-center text-center text-uppercase">

        <div class="card-body">

            <!-- xs -->
            <h6 class="sp-3 text-white d-block d-sm-none ">qr code</h6>
            <!-- md -->
            <h5 class="sp-3 text-white d-none d-md-block d-lg-none">qr code</h5>
            <!-- lg -->
            <h5 class="sp-3 text-white d-none d-lg-block d-xl-none">qr code</h5>
            <!-- xl -->
            <h5 class="sp-3 text-white  d-none d-xl-block">qr code</h5>







 
            <button type="button"
                    class="my-2 btn btn-lg btn-outline-primary text-white rounded-2 text-uppercase sp-3">
                <i class="fas fa-qrcode fa-4x"></i>
            </button>
        </div>

    </div>

    <div class="container mt-3 h-100 d-flex justify-content-center text-center text-uppercase text-white">or</div>

    <div class="card bg-dark border container mt-3 h-100 d-flex justify-content-center text-center text-uppercase">

        <div class="card-body">
 
 
            <!-- xs -->
            <h6 class="sp-3 text-white d-block d-sm-none ">opt</h6>
            <!-- md -->
            <h5 class="sp-3 text-white d-none d-md-block d-lg-none">opt</h5>
            <!-- lg -->
            <h5 class="sp-3 text-white d-none d-lg-block d-xl-none">opt</h5>
            <!-- xl -->
            <h5 class="sp-3 text-white  d-none d-xl-block">opt</h5>

 
            <div class="row justify-content-center">
                <div class="col-sm-12  col-md-6  text-center">
 
                    <!-- xs -->
                    <p class="sp-1 text-white d-block d-sm-none ">input phone number</p>
                    <!-- md -->
                    <h6 class="sp-1 text-white d-none d-md-block d-lg-none">input phone number</h6>
                    <!-- lg -->
                    <h6 class="sp-1 text-white d-none d-lg-block d-xl-none">input phone number</h6>
                    <!-- xl -->
                    <h6 class="sp-1 text-white  d-none d-xl-block">input phone number</h6>


                    <input type="text" class="form-control-n-bg w-100" id="phonenumber" placeholder="input phone number" value="091-2345678" required="">
                </div>

                <div class="col-sm-12  col-md-6 text-center">
             
                    <!-- xs -->
                    <p class="sp-1 text-white d-block d-sm-none pt-3">enter one time password (otp)</p>
                    <!-- md -->
                    <h6 class="sp-1 text-white d-none d-md-block d-lg-none ">enter one time password (otp)</h6>
                    <!-- lg -->
                    <h6 class="sp-1 text-white d-none d-lg-block d-xl-none">enter one time password (otp)</h6>
                    <!-- xl -->
                    <h6 class="sp-1 text-white  d-none d-xl-block">enter one time password (otp)</h6>

 

                    <input type="text" class="form-control-n-bg w-100" id="otp" placeholder="enter one time password (otp)" value="1022" required="">
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-sm-6 text-center">
                    <a asp-controller="Home" asp-action="Index">
                        <button type="button" class="mb-2 w-150px btn btn-light">cancel</button>
                    </a>
                </div>

                <div class="col-sm-6 text-center">
                    <a asp-controller="CheckOut" asp-action="CO_Folio">
                        <button type="button" class="mb-2 w-150px btn btn-success">ok5555</button>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
