
@{
    ViewData["Title"] = "CO_Transfer";
}


<div class="content-sticky-footer pt-0 px-3">

    <div class="container mt-3 h-100 d-flex justify-content-center">

        <div class="col-sm-2 col-md-2  p-0">


            <a href="javascript:void(0)" onclick="window.history.back();"><i class="fas fa-long-arrow-alt-left fa-2x text-white"></i></a>


        </div>



        <div class="col-sm-11 col-md-8 p-0">
            <div class="my-auto text-center">
                <h3 class="text-uppercase sp-3 text-white  d-none d-xl-block">transfer</h3>
                <!-- xs -->
                <p class="text-uppercase sp-3 text-white d-block d-sm-none m-0" style="font-size:14px;">transfer</p>
                <!-- md -->
                <h3 class="text-uppercase sp-3 text-white d-none d-md-block d-lg-none">transfer</h3>
                <!-- lg -->
                <h3 class="text-uppercase sp-3 text-white d-none d-lg-block d-xl-none">transfer</h3>

            </div>
        </div>

        <div class="col-md-2  d-none d-sm-block"></div>


    </div>


    <div class="card bg-light container h-100 d-flex justify-content-center text-uppercase">

        <div class="card-body p-1 pb-3">

            <div class="card bg-dark mt-2">
                <div class="card-body">
                    <form class="text-white sp-2">
                        <div class="border-bottom pb-3">
                            <div><label><span class="font-weight-bold mr-3">folio 4 </span> <span>mark tongtang</span></label></div>

                            <div class="row mt-2">
                                <div class="col-12">
                                    <label>
                                        <span class="font-weight-bold mr-3">Destination folio no</span>
                                    </label>
                                </div>

                                <div class="col-12">
                                    <div>
                                        <div class="form-check my-3">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="self" value="option1" checked="">
                                            <label class="form-check-label" for="self">
                                                self
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="room" value="option2">
                                            <label class="form-check-label" for="room">
                                                room# <span class="bg-secondary px-4">[1106] mr.jame lee</span>
                                            </label>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="mt-2 pb-2 border-bottom">

                            <div>
                                <div class="form-check my-3">
                                    <input class="form-check-input" type="radio" name="exampleRadios"
                                           id="folio1" value="option1" checked>
                                    <label class="form-check-label" for="folio1">
                                        folio 1
                                    </label>
                                </div>

                                <div class="form-check my-3">
                                    <input class="form-check-input" type="radio" name="exampleRadios"
                                           id="folio2" value="option2">
                                    <label class="form-check-label" for="folio2">
                                        folio 2
                                    </label>
                                </div>

                                <div class="form-check my-3">
                                    <input class="form-check-input" type="radio" name="exampleRadios"
                                           id="folio3" value="option3">
                                    <label class="form-check-label" for="folio3">
                                        folio 3
                                    </label>
                                </div>

                                <div class="form-check my-3">
                                    <input class="form-check-input" type="radio" name="exampleRadios"
                                           id="folio4" value="option3">
                                    <label class="form-check-label" for="folio4">
                                        folio 4 ( current folio )
                                    </label>
                                </div>

                            </div>
                        </div>
                    </form>

                </div>

            </div>
            <div class="row justify-content-center mt-3">
                <a asp-controller="CheckOut" asp-action="CO_Folio">
                    <button type="button" class="mb-2 btn btn-success">Transfer</button>
                </a>
            </div>
        </div>

    </div>





</div>

